Repository Okabe-Junya/issue-validator, changes with the labels that .github/labeler.yml gives for each.
All labels: test, documentation, dependencies, infrastructure

.github/labeler.yml:

test:
  - "src/*.test.ts"
  - "src/**/*.test.ts"
  - "src/*.spec.ts"
  - "src/**/*.spec.ts"

documentation:
  - "**/*.md"
  - "**/*.txt"

dependencies:
  - "**/package.json"
  - "**/yarn.lock"

infrastructure:
  - "**/Dockerfile"
  - "**/compose.yml"

fix
  .github/workflows/label-bot.yml
Labels: none

fix: permission
  .github/workflows/label-bot.yml
Labels: none

del: permission
  .github/workflows/label-bot.yml
Labels: none

fix
  .github/workflows/label-bot.yml
Labels: none

fix
  .github/workflows/label-bot.yml
Labels: none

bugfix
  .github/workflows/label-bot.yml
Labels: none

release with bug: on.issue_comment で発火するとこけるので，それを削除してリリース
  .github/workflows/label-bot.yml
Labels: none

fix: bug
  src/index.ts
Labels: none

add: closing comment
  src/index.ts
Labels: none

fix: build ci
  .github/workflows/build.yml
Labels: none

fix: build ci
  .github/workflows/build.yml
Labels: none

update: ci
  .github/workflows/build.yml
Labels: none

fix
  .github/workflows/build.yml
Labels: none

fix
  .github/workflows/build.yml
Labels: none

fix
  .github/workflows/build.yml
Labels: none

set: ref
  .github/workflows/build.yml
Labels: none

chore: update dist
  dist/index.js
Labels: none

chore: update dist
  dist/index.js
  dist/licenses.txt
Labels: documentation

chore: update dist
  dist/index.js
Labels: none

yarn upgrade
  yarn.lock
Labels: dependencies

chore: update dist
  dist/index.js
Labels: none
